extends layout

block content
  h2 Items in #{category.name}
    form(method='POST', action=`${category.url}/delete`)
        button.btn.btn-danger(type='submit') Delete Category

    button.btn.btn-primary(type='button', onclick=`window.location.href="${category.url}/update"`) Update Category

  .catpage-container
    .sidebar
        h2 Categories
        ul
        each category in categories
            li
            a(href=category.url)= category.name

    .items-in-category
        each item in items
            a(href=item.url, class='item-card')
                if item.image
                  img(src=`data:image/jpeg;base64,${item.image.toString('base64')}`, alt=item.name)
                else
                    img(src='/images/default-image.jpg', alt=item.name)
                h3.item-name= item.name
                p.item-price $#{item.price.toFixed(2)}
        a(href='/catalog/items/add-new', class='btn btn-primary') Add Item
