extends layout

block content
  .item-details
    img.item-image(src=`/images/${item.image}`, alt=item.name)
    h1.item-name= item.name
    p.item-description= item.description
    p.item-category Category: #{item.category.name}
    p.item-price Price: $#{item.price.toFixed(2)}
    p.item-stock Stock: #{item.number_in_stock}
    a(href=item.category.url , class='btn btn-primary') Back
    a(href=`${item.url}/update`, class='btn btn-primary') Update
    form(method='POST', action=`${item.url}/delete`)
      button.btn.btn-danger(type='submit') Delete
